<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/carrito.css">
    <!-- fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Carrito de Compras</title>
</head>
<header>
    <

</header>

<body>
    <div class="caja1">
        <div class="caja2">
            <img class="foto" src="images/ToyStory.jpg">

        </div>
        <div class="caja3">
            <h2 class="titulo">Toy Story</h2>
            <p class="opciones"><i class="fas fa-plus mas"></i>Comprar</p>
            <p class="opciones"><i class="fas fa-plus mas"></i>Alquilar</p>
            
        </div>
    </div>
    <div>
        <p class="descripcion">
            Los juguetes de Andy, un niño de seis años, temen que un nuevo regalo
            les sustituya en el corazón de su dueño. Woody, un vaquero que ha
            sido hasta ahora el juguete favorito, trata de tranquilizarlos hasta
            que aparece Buzz Lightyear.
        </p>
    </div>

</body>
<footer>

</footer>

</html>