<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/detalle.css">
    <!-- fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>detalleDeProducto</title>
</head>
<header>
    <a href="http://localhost:4000/"><img src="/images/niamazon.png" alt="logo"></a>
    <div class="bars"><i class="fas fa-bars"></i></div>
    <div class="carrito">
        <a href="http://localhost:4000/carritoCompras"><i class="fas fa-shopping-cart"></i></a>
    </div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario"> Bruno </i></h5>
</header>

<body>
    <div class="caja1">
        <div class="caja2">
            <img class="foto" src="images/ToyStory.jpg">

        </div>
        <div class="caja3">
            <div>
                <h2 class="titulo">Toy Story</h2>
            </div>
            <div style="height: max-content;">
                <p class="opciones"><i class="fas fa-plus añadir"></i>Añadir</p>
                <p class="opciones"><i class="fas fa-share-alt compartir"></i></i>Compartir</p>
            </div>
            <div>
                <p class="duracion"><i class="fas fa-clock"></i>Duración: 1h 21m</p>
            </div>
        </div>
    </div>
    <div class="caja4">
        <div class="descrip-especific">
            <p class="descripcion">
                Los juguetes de Andy, un niño de seis años, temen que un nuevo regalo
                les sustituya en el corazón de su dueño. Woody, un vaquero que ha
                sido hasta ahora el juguete favorito, trata de tranquilizarlos hasta
                que aparece Buzz Lightyear.
            </p>
            <div class="especificaciones">
                <ul>
                    <li>Director: Jhon Lasseter</li>
                    <li>Idiomas: Ingles, Español, Italiano, Frances</li>
                    <li>Subtitulos: Ingles, Español, Italiano, Frances</li>
                </ul>
            </div>
        </div>
        <div class="calificacion-star">
            <p class="calificacion">Calificación</p>
            <div class="star">
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
            </div>
        </div>
    </div>

    <div class="caja5">
        <div class="recomendadas-titulo">
            <h2>Recomendadas</h2>
        </div>
        <div class="recomendadas-foto">
            <img class="fotos" src="images/Cars1.jpg">
            <img class="fotos" src="images/rapidosFuriosos.jpg">
            <img class="fotos" src="images/proyectoX.jpg">
        </div>


    </div>

</body>
<footer>
    <h4 class="eslogan">"Queria un Amazon y me dieron un Ñamazon"</h4>
    <h5 class="copyright">Copyright © 1999-2020 ÑamazonInc.</h5>
</footer>

</html>