<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="image">
        <img src="images/imagenes-png.png" alt="logo Samazon">
    </div>
    <div class="contenedor">
        <h1>Login</h1>
        <label for="usuario">Usuario</label>
        <input class ="buscador" type="text" name="usuario">

        <label for="Contraseña">Contraseña</label>
        <input class ="buscador" type="password" name="Contraseña">

        <div class="remember">
            <label for="check">
                <input type="checkbox" name="check">
                Recordar
            </label>
        </div>
        
        <input class="enviar" type="submit">
        
        <a href="#">Olvidaste Tu Contraseña</a>
    </div>
    
</body>
</html>