
html{
    font-family: 'Roboto';
}

header{
    background-color: #001524;
    width: 100%;
}

.carrito{
    font-size: 25px;
    color:#e7ecef;
    position:absolute;
    top: 3vw;
    right: 15vw;
}

.bars{
    font-size: 25px;
    color:#e7ecef;
    position:absolute;
    top: 3vw;
    right: 5vw;
}
.caja1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #d0d2d3;
    border-radius: 6px;
}

.caja2{
    width: 50%;
    box-sizing: border-box;
}

.foto{
    width: 90%;
    border-radius: 6px;
    margin: 10px;
}

.caja3{
    width: 50%;
    box-sizing: border-box;
}

.opciones{
    width: 100%;
    margin: 1rem;
}

body {
    background-color: #001524;
}

.descripcion{
    background-color: #d0d2d3;
    padding: 1rem;
    border-radius: 6px;
    
}

.mas{
    margin: 6px;
}

footer{
    background-color: #001524;
    margin: 1rem;
    padding: 1rem;
}
.eslogan{
    font-size: 1rem;
    color: #e7ecef;
    margin: 6px;
    text-align: center;
}
.copyright{
    font-size: 0.75rem;
    color: #e7ecef;
    margin-bottom: 1rem;
    text-align: center;
}

