html{
    font-family: 'Roboto';
}
header {
    background-color: #003049;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 10%;
    margin-bottom: 0.01em;
}


.carrito {
    /*  position: absolute;
    top: 3vw;
    right: 15vw; */
    font-size: 30px;
    color: #e7ecef;
    text-decoration: none;
    width: 5%;
    padding: 1em;
}
.fa-shopping-cart{
    color: #e7ecef;
}

.bars {
    /*  position: absolute;
    top: 3vw;
    right: 5vw; */
    font-size: 30px;
    color: #e7ecef;
    width: 5%;
    padding: 1em;
}
.vacio{
    width: 60%;

}

.perfilUsuario {
    font-size: 20px;
    color: #e7ecef;
    width: 5%;
}
footer{
    background-color: #003049;
    margin: 1rem;
    padding: 1rem;
}
.eslogan{
    font-size: 1rem;
    color: #e7ecef;
    margin: 6px;
    text-align: center;
}
.copyright{
    font-size: 0.75rem;
    color: #e7ecef;
    margin-bottom: 1rem;
    text-align: center;
}

body {
    /* background-color: #001524; */
    background-color: #003049;
    /* background-image: url("/images/fondo3.jpg");
    background-attachment: fixed; */
}
.conteinerGeneral{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    /* background-color: #d0d2d3;8d99ae;7EA8BE;8ea4d2;ced4da*/
    /* background-color: #9db4c0; */
    background-color: transparent;
    border: 2px solid #e7ecef;
    color: #e7ecef;
    border-radius: 2rem;
    width: 90%;
    padding: 1rem;
    
}

.conteinerImagen{
    width: 20%;
}


.conteinerInfo{
    width:80%
}

.imagenPelicula{
    width: 90%;
    border-radius: 1rem;
}

.nombrePelicula{
    font-size: 2.5rem;
    text-decoration: none;
    color: #e7ecef;
    font-weight: bold;
}

li{
    list-style: none;
}

button{
    /* color: #001524;
    border: none;
    border-radius: 5px;
    background-color: #e7ecef;
    width: 5.5em;
    height: 1.5em;
    margin: 1rem;
    font-size: 1.5em; */
    background: transparent;
    color: #e7ecef;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 36px;
    border: 2px solid #e7ecef;
    border-radius: 32px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}
button::before{
    content: "";
    position: absolute;
    background: #e7ecef;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(6px);
} 
button:hover::before{
    left: calc(100% + 32px);
    transition: 0.75s;
}



h1{
    color: #e7ecef;
    text-align: center;
}