html{
    font-family: 'Roboto';
}
header {
    background-color: #003049;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.perfilUsuario {
    font-size: 20px;
    color: #e7ecef;
    width: 5%;
}
.logo{
    /* width: 10%; */
    margin-bottom: 0.01em;
    padding-left: 2em;
}

.bars {
    font-size: 30px;
    color: #e7ecef;
    width: 5%;
    padding: 1em;
}

fa-bars{
    color: #e7ecef;
}

.vacio{
    width: 75%;

}

footer{
    background-color: #003049;
    margin: 1rem;
    padding: 1rem;
}
.eslogan{
    font-size: 1rem;
    color: #e7ecef;
    margin: 6px;
    text-align: center;
}
.copyright{
    font-size: 0.75rem;
    color: #e7ecef;
    margin-bottom: 1rem;
    text-align: center;
}

body {
    /* background-color: #003049; */
    background-image: url("/images/fondo4.jpg");
    background-attachment: fixed;
}
.formulario{
    background-color:#e7ecef;
    width: 60vw;
    margin: 4em auto;
    padding: 3px;
    border-radius: 1em;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
h1{
    text-align: center;
    color: #001524;
    font-size: 40px;
}
input{
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: none;
    margin-bottom: 1em;
    background: transparent;
    border-bottom: 1px solid #999;
}
.input-contenedor{
    text-align: center;
}

.fas{
    min-width: 50px;
    text-align: center;
    color:#999;
    font-size: 1em;
}
button{
    color: #e7ecef;
    display:block;
    border: none;
    border-radius: 5px;
    background-color: #001524;
    width: 5.5em;
    height: 1.5em;
    margin: 1px auto;
    font-size: 1.5em;
    cursor: pointer;
}
.confirmacion{
   width: 20vw;
   font-size: 1.2em;
}
p{
    text-align: center;
    font-size: 1em;
    margin: 1em;
}
/* a{
    text-decoration: none;
    color: #001524;
    border-bottom: #001524 1px solid;
} */
button:hover{
    background-color: #043d63;
}
.fa-user-astronaut{
    font-size: 20px;
}

#checkbox{
    width: 3%;
}

/*Media*/
@media (max-width: 700px) {
    h1 {
        margin: 0.4em;
      font-size: 2em
    }
    input{
        margin-bottom: 0.5em;
        font-size: 1.1em;
    }
    button{
        margin: 1px auto;
        font-size: 1.2em;
    }
    .confirmacion{
        margin: 0px auto 5px;
        font-size: 1.2em;
    }
    p{
        font-size: 0.7em;
    }
}

@media (max-width: 500px) {
    .formulario{
        width: 80vw;
    }
    h1{
        font-size: 1.5em;
    }
    input{
        font-size: 0.8em;
    }
    .fa-solid{
        font-size: 0.8em;
    }
    .fa-envelope{
        font-size: 0.8em;
    }
    button{
        font-size: 1em;
    }
    .confirmacion{
        font-size: 1em;
    }
    p{
        font-size: 0.6em;
    }

}
@media (max-width: 358px){
    .formulario{
        width: 76vw;
    }
    .contenedor{
        padding: 0;
    }
    input{
        padding: 5px;
    }
    .fa-solid{
        display: none;
    }
    .fa-envelope{
        display: none;
    }
    button{
        margin-top: 1px;
    }
    .confirmacion{
        margin-top: 1px;
        font-size: 0.8em;
        width: 20vw;
    }
    .input-contenedor{
        margin-bottom: 5px;
    }
}
