body{
    font-family: 'Roboto';
    background: linear-gradient(to bottom,#001524 , #002a47);
    background-size:cover;
    background-attachment: fixed;
}

img{
    display: block;
    width: 17em;
    height: 4em;
    margin: 1em auto;
    padding: 1em;
    background-color: #e7ecef;
    border-radius:0 30px
}
h1{
    font-size: 2em;
    text-align: center;
    color: #001524;
    margin-top: 0;
}
label{
    font-size: 1.3em;
    color: #001524;
    margin: 1em 0;
}
.contenedor{
    background-color: #e7ecef;
    width: 21em;
    height: 22em;
    border-radius: 1em;
    margin: 2em auto;
    padding: 2em 5em;
}
.buscador{
    background: transparent;
    border: none;
    height: 2em;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #001524;
}
.remember{
    display: flex;
    margin-top: 10px;
}
.remember label{
    margin: 0px;
    color: #001524;
    font-size: 1em;
}

.enviar{
    color: #e7ecef;
    display:block;
    border: none;
    border-radius: 5px;
    background-color: #001524;
    width: 7.5em;
    margin: 1em auto 1em;
    font-size: 1.5em;
    cursor: pointer;
}
p{ color: #001524;
    text-align: center;
    margin: 10px;

}
a{
    text-decoration: none;
    color: #001524;

}
a:hover{
    color:#e7ecef;
    background-color: #001524;
    padding: 5px;
    border-radius: 5px;
}
