body{
    font-family: 'Roboto';
    margin: 0;
    background: linear-gradient(to bottom,#001524 , #002a47);
    background-size:cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}
.formulario{
    background-color:#e7ecef;
    width: 60vw;
    margin: 4em auto;
    padding: 3px;
    border-radius: 1em;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
h1{
    text-align: center;
    color: #001524;
    font-size: 40px;
}
input{
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: none;
    margin-bottom: 1em;
    background: transparent;
    border-bottom: 1px solid #999;
}
.input-contenedor{
    text-align: center;
    margin-bottom: 15px;
}

.fa-solid{
    min-width: 50px;
    text-align: center;
    color:#999
}
.fa-envelope{
    min-width: 50px;
    text-align: center;
    color:#999
}
button{
    color: #e7ecef;
    display:block;
    border: none;
    border-radius: 5px;
    background-color: #001524;
    width: 5.5em;
    height: 1.5em;
    margin: 1em auto 1em;
    font-size: 1.5em;
    cursor: pointer;
}
.confirmacion{
   width: 20vw;
   font-size: 1.2em;
}
p{
    text-align: center;
    font-size: 1em;
    margin: 1em;
}
a{
    text-decoration: none;
    color: #001524;
    border-bottom: #001524 1px solid;
}
a:hover{
    color: #999;
}
/*Media*/
@media (max-width: 700px) {
    h1 {
        margin: 0.4em;
      font-size: 2em
    }
    input{
        margin-bottom: 0.5em;
        font-size: 1.1em;
    }
    button{
        margin: 0px auto 5px;
        font-size: 1.2em;
    }
    .confirmacion{
        margin: 0px auto 5px;
        font-size: 1.2em;
    }
    p{
        font-size: 0.7em;
    }
}

@media (max-width: 500px) {
    .formulario{
        width: 80vw;
    }
    h1{
        font-size: 1.5em;
    }
    input{
        font-size: 0.8em;
    }
    .fa-solid{
        font-size: 0.8em;
    }
    .fa-envelope{
        font-size: 0.8em;
    }
    button{
        font-size: 1em;
    }
    .confirmacion{
        font-size: 1em;
    }
    p{
        font-size: 0.6em;
    }
}
@media (max-width: 358px){
    .formulario{
        width: 76vw;
    }
    .contenedor{
        padding: 0;
    }
    input{
        padding: 5px;
    }
    .fa-solid{
        display: none;
    }
    .fa-envelope{
        display: none;
    }
    button{
        margin-top: 1px;
    }
    .confirmacion{
        margin-top: 1px;
        font-size: 0.8em;
        width: 20vw;
    }
    .input-contenedor{
        margin-bottom: 5px;
    }
}
