<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carritoCompras</title>
    <link rel="stylesheet" href="css/carrito.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<header>
    <a href="http://localhost:4000/"><img src="/images/niamazon.png" alt="logo"></a>
    <div class="bars"><i class="fas fa-bars"></i></div>
    <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario"> Bruno </i></h5>
</header>
<body>
    <div class="conteinerGeneral">
        <img class="imagen" src="/images/ToyStory.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Toy Story</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $599</h4>
        </div>
    </div>

    <div class="conteinerGeneral">
        <img class="imagen" src="/images/proyectoX.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Proyecto X</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $799</h4>
        </div>
    </div>

    <div class="conteinerGeneral">
        <img class="imagen" src="/images/rapidosFuriosos.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Rapidos y Furiosos</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $999</h4>
        </div>
    </div>
    <div class="total">
        <h3 class="textoTotal">Total = $2397</h3>
        <button type="submit">Pagar</button>
    </div>
</body>
<footer>
    <h4 class="eslogan">"Queria un Amazon y me dieron un Ñamazon"</h4>
    <h5 class="copyright">Copyright © 1999-2020 ÑamazonInc.</h5>
</footer>
</html>