<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head',{titulo:"CarritoDeCompras", css:"carrito"}) %> 
    <%-include('./partials/header') %> 
    
<body>
    <div class="conteinerGeneral">
        <img class="imagen" src="/images/ToyStory.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Toy Story</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $599</h4>
        </div>
    </div>

    <div class="conteinerGeneral">
        <img class="imagen" src="/images/proyectoX.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Proyecto X</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $799</h4>
        </div>
    </div>

    <div class="conteinerGeneral">
        <img class="imagen" src="/images/rapidosFuriosos.jpg" alt="toy story">
        <div class="conteinerOpciones">
            <h3 class="titulo">Rapidos y Furiosos</h3>
            <h4 class="comprar">Comprar</h4>
            <h6 class="detalles">mas detalles</h6>
            <h4 class="precio"> $999</h4>
        </div>
    </div>
    <div class="total">
        <h3 class="textoTotal">Total = $2397</h3>
        <button type="submit">Pagar</button>
    </div>
</body>
<footer>
    <h4 class="eslogan">"Queria un Amazon y me dieron un Ñamazon"</h4>
    <h5 class="copyright">Copyright © 1999-2020 ÑamazonInc.</h5>
</footer>
</html>