<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head',{titulo:"Register", css:"register"}) %> 

<body>
    <form class="formulario" method="post" action="/products">
        <h1>Agregar Producto</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" name="product-name" id="product-name" placeholder="Nombre de Producto">
                <br>
                <input type="number" name="product-price" id="product-price" placeholder="Precio">
                <br>
                <label for="description" class="product-description">Descripcion: </label>
                <br>
                <textarea name="product-description" id="product-description" cols="50" rows="5"></textarea>
                <br>
                <input type="file" name="product-image" id="image">
            </div>
            <button type="submit">Agregar</button>
        </div>
    </form>
    <%-include('./partials/footer') %> 
    
</body>
</html>