<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head', {titulo:"productDetail", css:"detalle"}) %> 
    <%-include('./partials/header') %> 

<body>
    <div class="caja1">
        <div class="caja2">
            <img class="foto" src="images/ToyStory.jpg">

        </div>
        <div class="caja3">
            <div>
                <h2 class="titulo">Toy Story</h2>
            </div>
            <div style="height: max-content;">
                <p class="opciones"><i class="fas fa-plus añadir"></i>Añadir</p>
                <p class="opciones"><i class="fas fa-share-alt compartir"></i></i>Compartir</p>
            </div>
            <div>
                <p class="duracion"><i class="fas fa-clock"></i>Duración: 1h 21m</p>
            </div>
        </div>
    </div>
    <div class="caja4">
        <div class="descrip-especific">
            <p class="descripcion">
                Los juguetes de Andy, un niño de seis años, temen que un nuevo regalo
                les sustituya en el corazón de su dueño. Woody, un vaquero que ha
                sido hasta ahora el juguete favorito, trata de tranquilizarlos hasta
                que aparece Buzz Lightyear.
            </p>
            <div class="especificaciones">
                <ul>
                    <li>Director: Jhon Lasseter</li>
                    <li>Idiomas: Ingles, Español, Italiano, Frances</li>
                    <li>Subtitulos: Ingles, Español, Italiano, Frances</li>
                </ul>
            </div>
        </div>
        <div class="calificacion-star">
            <p class="calificacion">Calificación</p>
            <div class="star">
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
                <p><i class="fas fa-star"></i></p>
            </div>
        </div>
    </div>

    <div class="caja5">
        <div class="recomendadas-titulo">
            <h2>Recomendadas</h2>
        </div>
        <div class="recomendadas-foto">
            <img class="fotos" src="images/Cars1.jpg">
            <img class="fotos" src="images/rapidosFuriosos.jpg">
            <img class="fotos" src="images/proyectoX.jpg">
        </div>


    </div>

</body>
<%-include('./partials/footer') %> 

</html>