<!DOCTYPE html>
<html lang="en">
    
    <%-include('./partials/head') %> 

<body>
    <form class="formulario" action="/views/login.html" method="post">
        <h1>Recuperar Contraseña</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="user" id="user" placeholder="Usuario">
                <br>

                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email">
                <br>

                <i class="far fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Confirmar Email">
                <br>
            </div>
            <button class="confirmacion" type="submit">Confirmar</button>
            <p>Si sus datos son Validos, se le enviara un codigo de confirmacion a su email</p>
            <p>Volver al Inicio <a href="/log">Iniciar Sesion</a></p>
        </div>
    </form>
    <%-include('./partials/footer') %> 

</body>
</html>