<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head', {titulo:"Home", css:"styles"}) %>
  <%-include('./partials/header') %>

    <body>
      <h1>Populares</h1>
      <div class="boxesContainer">
        <!--   TITANIC -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/titanic.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/3">
                <h3>Titanic</h3>
                <p>Jack es un joven artista que gana un pasaje para viajar a América
                  en el Titanic, el transatlántico más grande y seguro jamás construido.</p>
              </a>
            </div>
          </div>
        </div>
        <!--   HARRY POTTER -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/harryPotter.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/5">
                <h3>Harry Potter</h3>
                <p>El día de su cumpleaños, Harry Potter descubre que debe asistir a una famosa escuela de magia y
                  hechicería,
                  donde entabla una amistad con dos jóvenes que se convertirán en sus compañeros de aventura.</p>
              </a>
            </div>
          </div>
        </div>
        <!--   LOS PIRATAS DEL CARIBE -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/piratasDelCaribe.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/6">
                <h3>Los piratas del caribe</h3>
                <p>El capitán Barbossa le roba el barco al pirata Jack Sparrow y secuestra a Elizabeth,
                  amiga de Will Turner. Barbossa y su tripulación son víctimas de un conjuro que los condena a vivir
                  eternamente y a transformarse cada noche en esqueletos vivientes.</p>
              </a>
            </div>
          </div>
        </div>


        <!--   KING KONG -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/kingKong.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/10">
                <h3>King kong</h3>
                <p>Un grupo de exploradores, liderado por un extrovertido director de cine,
                  visitan Skull Island para investigar todo lo relacionado con la leyenda del gorila
                  gigante llamado King Kong. Ahí encuentran una jungla llena de criaturas prehistóricas.</p>
              </a>
            </div>
          </div>
        </div>

        <!--   ROCKY -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/rocky.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/14">
                <h3>Rocky</h3>
                <p>Rocky Balboa es un desconocido boxeador de Philadelphia a quien se le ofrece la posibilidad
                  de alcanzar la fama y ganar el título mundial de los pesos pesados enfrentándose al actual campeón,
                  Apollo Creed.</p>
              </a>
            </div>
          </div>
        </div>

        <!--   MARADONA -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/elDiego.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/18">
                <h3>Diego Maradona</h3>
                <p>Documental construido sobre la base de 500 horas de metraje inédito, acerca de la
                  carrera y la vida del aclamado y controvertido futbolista argentino Diego Armando Maradona.</p>
              </a>
            </div>
          </div>
        </div>

        <!--   EL EXORCISTA -->
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <img class="imagenPelicula" src="/images/products/elExorcista.jpg" />
            </div>
            <div class="back">
              <a href="/products/detail/11">
                <h3>El exorcista</h3>
                <p>Adaptación de la novela de William Peter Blatty. Inspirada en un exorcismo
                  real ocurrido en Washington en 1949. Regan, una niña de doce años, es víctima de
                  fenómenos paranormales.'</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--   LISTADO -->
      <div class="cardBox">
        <div class="card">
          <div class="front">
            <img class="imagenPelicula" src="/images/niamazonBlanco.png" />
          </div>
          <div class="back">
            <h3>LISTADO COMPLETO</h3>
            <a href="/list"><button class="botonAgregar" type="submit">></button></a>
          </div>
        </div>
      </div>
      </div>
      <!--.boxesContainer-->
    </body>
    <%-include('./partials/footer') %>

</html>