<!DOCTYPE html>
<html lang="en">
        
<%-include('./partials/head',{titulo:"Login", css:"login"}) %>  
<%-include('./partials/header') %>
<!-- <header>
    <img class="logo" src="/images/niamazonBlanco.png" alt="logo">
    <div class="vacio"></div>
    <div class="bars"><i class="fas burguerBar fa-bars"></i></div>
</header> -->
<body>
    <% if(locals.errors) {%>
		<ul>
			<% for (let i=0; i < errors.length; i++) { %>
				<li style="color: red;"><%= errors[i].msg %> </li>
			<% } %>
		</ul>
	<% } %> 
    <form class="formulario" action="/users/login" method="post">
        <h1>Login</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-user"></i>
                <input type="text" name="nombre" id="nombre" placeholder="nombre">
                <br>

                    <i class="fas fa-at"></i>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <br>

                    <i class="fas fa-lock"></i>
                    <input type="password" name="contrase単a" id="contrase単a" placeholder="Contrase単a">
                    <br>
                <label class="checkbox-label"><input type="checkbox" id="checkbox" name="checkbox">Recordar</label><br>
            </div>


                <button type="submit">Login</button>
                <p>多No Tienes Cuenta?<a href="/users/register">Registrate</a></p>

            </div>
        </form>
        <%-include('./partials/footer') %>

    </body>

</html>