<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head') %>

<body>
    <div class="image">
        <img src="images/niamazon.png" alt="logo Samazon">
    </div>
    <div class="contenedor">
        <h1>Login</h1>
        <label for="usuario">Usuario</label>
        <input class ="buscador" type="text" name="usuario">

        <label for="Contrase単a">Contrase単a</label>
        <input class ="buscador" type="password" name="Contrase単a">

        <div class="remember">
            <label for="check">
                <input type="checkbox" name="check">
                Recordar
            </label>
        </div>
        
        <button class="enviar">Enviar</button>
        <p>Al Iniciar Sesion, aceptas nustras Condiciones de uso y Politica de Privacidad</p>
        <p><a href="/forgot">Olvide mi Contrase単a</a></p>

    </div>
    
</body>
</html>