<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head',{titulo:"Register", css:"register"}) %>
    <header>
        <img class="logo" src="/images/niamazonBlanco.png" alt="logo">
        <div class="vacio"></div>
        <div class="bars"><i class="fas burguerBar fa-bars"></i></div>
    </header>

<body>

    <% if(locals.errors) {%>
		<ul>
			<% for (let i=0; i < errors.length; i++) { %>
				<li style="color: red;"><%= errors[i].msg %> </li>
			<% } %>
		</ul>
	<% } %> 
    <form class="formulario" method="POST" action="/users/register">
        <h1>Registrate</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-user"></i>
                <input type="text" name="nombre" id="nombre" placeholder="nombre">
                <br>
                <i class="fas fa-user"></i>
                <input type="text" name="apellido" id="apellido" placeholder="apellido">
                <br>

                    <i class="fas fa-at"></i>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <br>

                    <i class="fas fa-lock"></i>
                    <input type="password" name="contrase単a" id="contrase単a" placeholder="Contrase単a">
                    <br>

                    <input type="file" name="imagenUsuario" id="image">
                </div>
                <button class="button">
                    <span class="text">Submit</span>
                    <i class="fas fa-check icon"></i>
                </button>
                <p>Al registrarte, aceptas nustras Condiciones de uso y Politica de Privacidad</p>
                <p>多Ya tienes Cuenta? <a href="/users/login">Iniciar Sesion</a></p>
            </div>
        </form>
        <%-include('./partials/footer') %>

    </body>

</html>