<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/838e904eee.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">

    <title>Registro</title>
</head>
<body>
    <form class="formulario" action="/views/login.html" method="post">
        <h1>Registrate</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="user" id="user" placeholder="Usuario">
                <br>

                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Email">
                <br>

                <i class="fa-solid fa-key"></i>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <br>
            </div>
            <button type="submit">Registrate</button>
            <p>Al registrarte, aceptas nustras Condiciones de uso y Politica de Privacidad</p>
            <p>¿Ya tienes Cuenta? <a href="/views/login.html">Iniciar Sesion</a></p>
        </div>
    </form>

    
</body>
</html>