<!-- <header>
    <div class="imagen-header">
        <a href="/">
            <img class="logo" src="/images/Namaz.png" alt="logo">
        </a>
    </div>
    <div class="vacio"></div>
    <div class="bars"><i class="fas burguerBar fa-bars"></i></div>
</header> -->