<header>
    <div class="imagen-header">
        <a href="/">
            <img class="logo" src="/images/niamazonBlanco.png" alt="logo">
        </a>
    </div>
    <div class="vacio"></div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario"></i></h5>
    <div class="bars"><i class="fas burguerBar fa-bars"></i></div>
</header>