<header>
    <a href="/"><img class="logo" src="/images/niamazonBlanco.png" alt="logo"></a>
    <div class="vacio"></div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario">Usuario</i></h5>
    <div class="carrito">
        <a href="/products/list">  <i class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="bars"><i class="fas burguerBar fa-bars"></i></div>
</header>