<header>
    <img src="/images/niamazon.png" alt="logo">
    <div class="bars"><i class="fas fa-bars"></i></div>
    <div class="carrito">
        <a href="/products/list">  <i class="fas fa-shopping-cart"></i></a>
    </div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario">Usuario</i></h5>
</header>