<header>
    <img src="/images/niamazon.png" alt="logo">
    <div class="bars"><i class="fas fa-bars"></i></div>
    <div class="carrito">
        <a href="/carritoCompras">  <i class="fas fa-shopping-cart"></i></a>
    </div>
    <h5 class="perfilUsuario"><i class="fas fa-user-astronaut fotoUsuario"> Bruno </i></h5>
    <li><a href="/products/create">Vender</a></li>
</header>